#centre-column, #wrapper {
 width: 90%;
 margin: 0px auto;
 text-align: left;
 overflow: hidden;
}

#left-column {
 width: 49%;
 float:left;
 text-align: left;
 padding-bottom: 32767px;
 margin-bottom: -32767px;
}
#right-column {
 width: 49%;
 float:right;
 text-align: left;
 padding-bottom: 32767px;
 margin-bottom: -32767px;
}
