<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Retroblast theme for CBlargh">
	<meta name="author" content="vifino">
	<link rel="stylesheet" type="text/css" href="theme_static/retro.css">
</head>
<body>
	<div class="content">
		<h1 class="title cursor noselect"><%= title %></h1>
		<h3><%= aboutme %></h2><br />
		<%& table.reverseOrderedPairs(modtimes_r) %>
			* <a href="post/<%v%>"><%%= posts_title[v] %%></a> - <%= os.date("%a %b %d %T %Z %Y", k) %><br /><br />
		<%&%>
	</div>
</body>
</html>
