<html>
	<head>
		<title><%= title .. " | Page not found! :("%></title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Retroblast theme for CBlargh">
		<meta name="author" content="vifino">
		<link rel="stylesheet" type="text/css" href="/css/retro.css">
	</head>
	<body>
		<h1>The page you are looking for couldn't be found.</h1>
	</body>
</html>
