<html>
	<head>
		<title><%= title .. " | Page not found! :("%></title>
		<link rel="stylesheet" type="text/css" href="/theme_static/solarized.css">
		<link rel="stylesheet" type="text/css" href="/theme_static/columns.css">
		<link rel="stylesheet" type="text/css" href="/theme_static/fonts.css">
	</head>
	<body>
		<h1 id="pixel" style="text-align: center;"><%%= title %%></h1>
		<h2 style="text-align: center;">
			<a href="/">Home</a>
			 -
			<a href="/about.html">About</a>
		</h2>
		<div id="wrapper">
			<h4>404 File not found</h4>
			TODO: Insert some highly motivating text here!
			<h4 style="text-align: center;"><a href="/rss.xml">RSS</a></h4>
		</div>
	</body>
</html>
